body  
	{background: black; 
	 text-align: center; 
	 font-size: 1em; 
	 font-family: verdana, tahoma, arial, helvetica, sans-serif;
	}

	img
	{width:80%;
	}
 

h1 
	{font-size: 1.4em; 
	 font-weight: bold;
	}
h2 
	{font-size: 1.2em;
	}

	
a 
	{color: black; 
	 font-size: 1em;
	}

	
a:hover 
	{color: white;
	}
li {
color:red;
}


